In [1]:
import wrds
db = wrds.Connection()
lib = db.list_libraries()
lib
#sorted(lib)

Loading library list...
Done

['aha_sample',
 'ahasamp',
 'audit',
 'audit_audit_comp',
 'audit_common',
 'auditsmp',
 'auditsmp_all',
 'block',
 'block_all',
 'boardex_trial',
 'boardsmp',
 'bvd',
 'bvd_orbis_large',
 'bvd_orbis_medium',
 'bvd_orbis_small',
 'calcbench_trial',
 'calcbnch',
 'cboe',
 'cboe_all',
 'ciq',
 'ciq_common',
 'ciq_ratings',
 'ciq_transcripts',
 'ciqsamp',
 'ciqsamp_common',
 'ciqsamp_keydev',
 'ciqsamp_transcripts',
 'columnar',
 'comp',
 'comp_bank',
 'comp_bank_daily',
 'comp_execucomp',
 'comp_global',
 'comp_global_daily',
 'comp_na_annual_all',
 'comp_na_daily_all',
 'comp_na_monthly_all',
 'comp_ratings',
 'comp_segments_hist',
 'comp_segments_hist_daily',
 'compa',
 'compb',
 'compg',
 'compm',
 'compsamp_snapshot',
 'compseg',
 'contrib',
 'contrib_ceo_turnover',
 'contrib_char_returns',
 'contrib_general',
 'contrib_intangible_value',
 'contrib_kpss',
 'contrib_liva',
 'crsp',
 'crsp_a_ccm',
 'crsp_a_indexes',
 'crsp_a_stock',
 'crsp_q_indexes',
 'crsp_q_indexhist',
 'crsp_q_mutualfunds',
 'crspq',
 'csmar',
 'csmar_financial',
 'csmar_funds',
 'csmar_trade',
 'dealscan',
 'djones',
 'djones_all',
 'dmef',
 'dmef_all',
 'doe',
 'doe_all',
 'etfg',
 'etfg_analytics',
 'etfg_constituents',
 'etfg_fund_flow',
 'etfg_industry',
 'etfg_samp',
 'etfgsamp',
 'eurekahedge_sample',
 'eursamp',
 'execcomp',
 'factsamp_all',
 'factsamp_revere',
 'ff',
 'ff_all',
 'fisdsamp',
 'fisdsamp_all',
 'fjc',
 'fjc_linking',
 'fjc_litigation',
 'frb',
 'frb_all',
 'fssamp',
 'ftse',
 'ftse_russell_us',
 'gmi',
 'gmi_all',
 'gutenberg',
 'hbase_sample',
 'hbsamp',
 'hfrsamp',
 'hfrsamp_hfrdb',
 'ibes',
 'ifgrsamp',
 'ims_obp_trial',
 'imssamp',
 'infogroupsamp_business',
 'infogroupsamp_residential',
 'iss_va_shareholder',
 'ktmine_patents_samp',
 'ktsamp',
 'lvnsamp',
 'lvnsamp_all',
 'macrofin',
 'macrofin_comm_trade',
 'mfl',
 'mflinks_all',
 'midas',
 'mrktsamp',
 'mrktsamp_cds',
 'mrktsamp_cdx',
 'mrktsamp_msf',
 'msrb',
 'msrb_all',
 'omtrial',
 'optionm',
 'optionm_all',
 'optionmsamp_europe',
 'optionmsamp_us',
 'otc',
 'otc_endofday',
 'phlx',
 'phlx_all',
 'pitchsmp',
 'ppubsamp',
 'ppubsamp_d4d',
 'preqin',
 'preqin_pe',
 'preqin_vc',
 'preqsamp',
 'preqsamp_all',
 'public',
 'public_all',
 'pwt',
 'pwt_all',
 'ravenpack_trial',
 'reprisk_sample',
 'repsamp',
 'risk',
 'risk_directors',
 'risk_governance',
 'risk_proposals',
 'risk_votes',
 'risksamp',
 'risksamp_all',
 'rpnasamp',
 'rq_all',
 'secsamp',
 'secsamp_all',
 'snapsamp',
 'snlsamp',
 'snlsamp_fig',
 'sprat',
 'sustain',
 'sustainalytics_all',
 'sustainalyticssamp_all',
 'sustsamp',
 'taqm_2003',
 'taqm_2004',
 'taqm_2005',
 'taqm_2006',
 'taqm_2007',
 'taqm_2008',
 'taqm_2009',
 'taqm_2010',
 'taqm_2011',
 'taqm_2012',
 'taqm_2013',
 'taqm_2014',
 'taqm_2015',
 'taqm_2016',
 'taqm_2017',
 'taqm_2018',
 'taqm_2019',
 'taqm_2020',
 'taqmsamp',
 'taqmsamp_all',
 'taqmsec',
 'taqsamp',
 'tfn',
 'totalq',
 'totalq_all',
 'tr_13f',
 'tr_common',
 'tr_dealscan',
 'tr_ds_comds',
 'tr_ds_econ',
 'tr_ds_equities',
 'tr_ds_fut',
 'tr_ibes',
 'tr_ibes_guidance',
 'tr_ibes_iga',
 'tr_insiders',
 'tr_mutualfunds',
 'tr_ownership',
 'tr_worldscope',
 'trace',
 'trace_enhanced',
 'trace_standard',
 'trdssamp',
 'trdstrm',
 'trown',
 'trsamp',
 'trsamp_ds_eq',
 'trsamp_dscom',
 'trsamp_dsecon',
 'trsamp_dsfut',
 'trsamp_worldscope',
 'trws',
 'twoiq_samp',
 'twoiqsmp',
 'wappsamp',
 'windsmp',
 'wrds_lib_internal',
 'wrds_sec_search',
 'wrdsapps',
 'wrdsapps_backtest_basic',
 'wrdsapps_backtest_plus',
 'wrdsapps_eushort',
 'wrdsapps_evtstudy_int_ginsight',
 'wrdsapps_evtstudy_lr',
 'wrdsapps_finratio',
 'wrdsapps_finratio_ccm',
 'wrdsapps_finratio_ibes',
 'wrdsapps_finratio_ibes_ccm',
 'wrdsapps_link_comp_eushort',
 'wrdsapps_link_crsp_bond',
 'wrdsapps_link_crsp_factset',
 'wrdsapps_link_crsp_ibes',
 'wrdsapps_link_crsp_optionm',
 'wrdsapps_link_crsp_taq',
 'wrdsapps_link_datastream_wscope',
 'wrdsapps_link_supplychain',
 'wrdsapps_patents',
 'wrdsapps_plink_exec_trinsider',
 'wrdsapps_subsidiary',
 'wrdsapps_windices',
 'wrdsappssamp_all',
 'wrdssec',
 'wrdssec_all',
 'wrdssec_bow',
 'wrdssec_common',
 'wrdssec_insiders',
 'wrdssec_midas',
 'wrdssec_secsa',
 'zacksamp',
 'zacksamp_all']

In [99]:
import wrds
db = wrds.Connection()
lib = db.list_libraries()
crsp = [x for x in lib if 'crsp' in x]
crsp



#crsp = list(filter(lambda x: 'crsp' in x, lib))
#crsp

#import re
#crsp = [x for x in lib if re.search('crsp', x)]
#crsp

Loading library list...
Done

['crsp',
 'crsp_a_ccm',
 'crsp_a_indexes',
 'crsp_a_stock',
 'crsp_q_indexes',
 'crsp_q_indexhist',
 'crsp_q_mutualfunds',
 'crspq',
 'wrdsapps_link_crsp_bond',
 'wrdsapps_link_crsp_factset',
 'wrdsapps_link_crsp_ibes',
 'wrdsapps_link_crsp_optionm',
 'wrdsapps_link_crsp_taq']

In [40]:
import wrds
db = wrds.Connection()
tables = db.list_tables(library='crsp')
tables

Loading library list...
Done

['acti',
 'asia',
 'asib',
 'asic',
 'asio',
 'asix',
 'bmdebt',
 'bmheader',
 'bmpaymts',
 'bmquotes',
 'bmyield',
 'bndprt06',
 'bndprt12',
 'bxcalind',
 'bxdlyind',
 'bxmthind',
 'bxquotes',
 'bxyield',
 'cap',
 'ccm_lookup',
 'ccm_qvards',
 'ccmxpf_linktable',
 'ccmxpf_lnkhist',
 'ccmxpf_lnkrng',
 'ccmxpf_lnkused',
 'comphead',
 'comphist',
 'compmaster',
 'contact_info',
 'crsp_cik_map',
 'crsp_daily_data',
 'crsp_header',
 'crsp_monthly_data',
 'crsp_names',
 'crsp_portno_map',
 'crsp_ziman_daily_index',
 'crsp_ziman_monthly_index',
 'cs20yr',
 'cs5yr',
 'cs90d',
 'cst_hist',
 'daily_nav',
 'daily_nav_ret',
 'daily_returns',
 'dividends',
 'dport1',
 'dport2',
 'dport3',
 'dport4',
 'dport5',
 'dport6',
 'dport7',
 'dport8',
 'dport9',
 'dsbc',
 'dsbo',
 'dse',
 'dse62',
 'dse62delist',
 'dse62dist',
 'dse62exchdates',
 'dse62names',
 'dse62nasdin',
 'dse62shares',
 'dseall',
 'dseall62',
 'dsedelist',
 'dsedist',
 'dseexchdates',
 'dsenames',
 'dsenasdin',
 'dseshares',
 'dsf',
 'dsf62',
 'dsf62_v2',
 'dsf_v2',
 'dsfhdr',
 'dsfhdr62',
 'dsi',
 'dsi62',
 'dsia',
 'dsib',
 'dsic',
 'dsio',
 'dsir',
 'dsix',
 'dsiy',
 'dsp500',
 'dsp500_v2',
 'dsp500list',
 'dsp500p',
 'dssc',
 'dsso',
 'eod_cap',
 'eod_sector',
 'eod_vg',
 'erdport1',
 'erdport2',
 'erdport3',
 'erdport4',
 'erdport5',
 'erdport6',
 'erdport7',
 'erdport8',
 'erdport9',
 'ermport1',
 'ermport2',
 'ermport3',
 'ermport4',
 'ermport5',
 'fbpri',
 'fbyld',
 'front_load',
 'front_load_det',
 'front_load_grp',
 'fund_fees',
 'fund_flows',
 'fund_hdr',
 'fund_hdr_hist',
 'fund_names',
 'fund_style',
 'fund_summary',
 'fund_summary2',
 'fwdask06',
 'fwdask12',
 'fwdave06',
 'fwdave12',
 'fwdbid06',
 'fwdbid12',
 'hldask06',
 'hldask12',
 'hldave06',
 'hldave12',
 'hldbid06',
 'hldbid12',
 'holdings',
 'holdings_co_info',
 'inddlyseriesdata',
 'inddlyseriesdata62',
 'inddlyseriesdata_ind',
 'index_descriptions',
 'index_type_map',
 'indfamilyinfohdr',
 'indfamilyinfohdr62',
 'indfamilyinfohdr_ind',
 'indissrebalancesummary_ind',
 'indmthseriesdata',
 'indmthseriesdata62',
 'indmthseriesdata_ind',
 'indsecrebalancesummary_ind',
 'indseriesinfohdr',
 'indseriesinfohdr62',
 'indseriesinfohdr_ind',
 'mbi',
 'mbmdat',
 'mbmhdr',
 'mbx',
 'mbxid',
 'mcti',
 'metacalendarperiod',
 'metacalendarperiod62',
 'metacalendarperiod_ind',
 'metacolumncoverage',
 'metacolumncoverage62',
 'metacolumncoverage_ind',
 'metacolumninfo',
 'metacolumninfo62',
 'metacolumninfo_ind',
 'metaexchangecalendar',
 'metaexchangecalendar62',
 'metaexchangecalendar_ind',
 'metafileinfo',
 'metafileinfo62',
 'metafileinfo_ind',
 'metaflagcoverage',
 'metaflagcoverage62',
 'metaflagcoverage_ind',
 'metaflaginfo',
 'metaflaginfo62',
 'metaflaginfo_ind',
 'metaflagtype',
 'metaflagtype62',
 'metaflagtype_ind',
 'metaiteminfo',
 'metaiteminfo62',
 'metaiteminfo_ind',
 'metasiztociz',
 'metasiztociz62',
 'metasiztociz_ind',
 'mfdbname',
 'mhista',
 'mhistn',
 'mhistq',
 'monthly_nav',
 'monthly_returns',
 'monthly_tna',
 'monthly_tna_ret_nav',
 'mport1',
 'mport2',
 'mport3',
 'mport4',
 'mport5',
 'mse',
 'mse62',
 'mse62delist',
 'mse62dist',
 'mse62exchdates',
 'mse62names',
 'mse62nasdin',
 'mse62shares',
 'mseall',
 'mseall62',
 'msedelist',
 'msedist',
 'mseexchdates',
 'msenames',
 'msenasdin',
 'mseshares',
 'msf',
 'msf62',
 'msf62_v2',
 'msf_v2',
 'msfhdr',
 'msfhdr62',
 'msi',
 'msi62',
 'msia',
 'msib',
 'msic',
 'msio',
 'msir',
 'msix',
 'msiy',
 'msp500',
 'msp500_v2',
 'msp500list',
 'msp500p',
 'portnomap',
 'priask06',
 'priask12',
 'priave06',
 'priave12',
 'pribid06',
 'pribid12',
 'price_type',
 'property_type',
 'qcti',
 'qsia',
 'qsib',
 'qsic',
 'qsio',
 'qsix',
 'rear_load',
 'rear_load_det',
 'rear_load_grp',
 'rebala',
 'rebaln',
 'rebalq',
 'reit_type',
 'riskfree',
 's6z_agg_ann',
 's6z_agg_mth',
 's6z_agg_qtr',
 's6z_del',
 's6z_dind',
 's6z_dis',
 's6z_dp_dly',
 's6z_ds_dly',
 's6z_hdr',
 's6z_indhdr',
 's6z_mdel',
 's6z_mind',
 's6z_mth',
 's6z_nam',
 's6z_ndi',
 's6z_shr',
 'saz_agg_ann',
 'saz_agg_mth',
 'saz_agg_qtr',
 'saz_del',
 'saz_dind',
 'saz_dis',
 'saz_dp_dly',
 'saz_ds_dly',
 'saz_hdr',
 'saz_indhdr',
 'saz_mdel',
 'saz_mind',
 'saz_mth',
 'saz_nam',
 'saz_ndi',
 'saz_shr',
 'sechead',
 'sechist',
 'sector',
 'sfz_dind',
 'sfz_indhdr',
 'sfz_mbr',
 'sfz_mind',
 'sfz_portd',
 'sfz_portm',
 'sfz_rb',
 'stkannsecuritydata',
 'stkannsecuritydata62',
 'stkdelists',
 'stkdelists62',
 'stkdistributions',
 'stkdistributions62',
 'stkdlysecuritydata',
 'stkdlysecuritydata62',
 'stkdlysecurityprimarydata',
 'stkdlysecurityprimarydata62',
 'stkissuerinfohdr',
 'stkissuerinfohdr62',
 'stkissuerinfohist',
 'stkissuerinfohist62',
 'stkmthfloatshares',
 'stkmthfloatshares62',
 'stkmthsecuritydata',
 'stkmthsecuritydata62',
 'stkqtrsecuritydata',
 'stkqtrsecuritydata62',
 'stksecurityinfohdr',
 'stksecurityinfohdr62',
 'stksecurityinfohist',
 'stksecurityinfohist62',
 'stkshares',
 'stkshares62',
 'stock_qvards',
 'stocknames',
 'stocknames62',
 'stocknames62_v2',
 'stocknames_v2',
 'sub_property_type',
 'tfz_dly',
 'tfz_dly_cd',
 'tfz_dly_cpi',
 'tfz_dly_ft',
 'tfz_dly_rf2',
 'tfz_dly_ts2',
 'tfz_idx',
 'tfz_iss',
 'tfz_mast',
 'tfz_mth',
 'tfz_mth_bp',
 'tfz_mth_cd',
 'tfz_mth_cpi',
 'tfz_mth_fb',
 'tfz_mth_ft',
 'tfz_mth_rf',
 'tfz_mth_rf2',
 'tfz_mth_ts',
 'tfz_mth_ts2',
 'tfz_pay',
 'vg',
 'wrds_dailyindexret62_query',
 'wrds_dailyindexret_query',
 'wrds_dsf62v2_query',
 'wrds_dsfv2_query',
 'wrds_inddlytranspose_query',
 'wrds_indmthtranspose_query',
 'wrds_monthlyindexret62_query',
 'wrds_monthlyindexret_query',
 'wrds_msf62v2_query',
 'wrds_msfv2_query',
 'wrds_names62_query',
 'wrds_names_query',
 'yldask06',
 'yldask12',
 'yldave06',
 'yldave12',
 'yldbid06',
 'yldbid12',
 'ziman_reit_info',
 'zr_hdrnames']

In [42]:
import wrds
db = wrds.Connection()
tables = db.list_tables(library='crsp_a_stock')
tables

Loading library list...
Done

['dse',
 'dseall',
 'dsedelist',
 'dsedist',
 'dseexchdates',
 'dsenames',
 'dsenasdin',
 'dseshares',
 'dsf',
 'dsf_v2',
 'dsfhdr',
 'dsi',
 'dsiy',
 'inddlyseriesdata',
 'indfamilyinfohdr',
 'indmthseriesdata',
 'indseriesinfohdr',
 'metacalendarperiod',
 'metacolumncoverage',
 'metacolumninfo',
 'metaexchangecalendar',
 'metafileinfo',
 'metaflagcoverage',
 'metaflaginfo',
 'metaflagtype',
 'metaiteminfo',
 'metasiztociz',
 'mse',
 'mseall',
 'msedelist',
 'msedist',
 'mseexchdates',
 'msenames',
 'msenasdin',
 'mseshares',
 'msf',
 'msf_v2',
 'msfhdr',
 'msi',
 'msiy',
 'saz_agg_ann',
 'saz_agg_mth',
 'saz_agg_qtr',
 'saz_del',
 'saz_dind',
 'saz_dis',
 'saz_dp_dly',
 'saz_ds_dly',
 'saz_hdr',
 'saz_indhdr',
 'saz_mdel',
 'saz_mind',
 'saz_mth',
 'saz_nam',
 'saz_ndi',
 'saz_shr',
 'stkannsecuritydata',
 'stkdelists',
 'stkdistributions',
 'stkdlysecuritydata',
 'stkdlysecurityprimarydata',
 'stkissuerinfohdr',
 'stkissuerinfohist',
 'stkmthfloatshares',
 'stkmthsecuritydata',
 'stkqtrsecuritydata',
 'stksecurityinfohdr',
 'stksecurityinfohist',
 'stkshares',
 'stock_qvards',
 'stocknames',
 'stocknames_v2',
 'wrds_dailyindexret_query',
 'wrds_dsfv2_query',
 'wrds_monthlyindexret_query',
 'wrds_msfv2_query',
 'wrds_names_query']

In [58]:
import wrds
db = wrds.Connection()
tables = db.list_tables(library='crsp_a_stock')

#open file in write mode
with open(r'/home/smusg/ltee11/tables_OF_crsp_a_stock.txt', 'w') as a:
    for b in tables:
        #write each item on a new line
        a.write("%s\n" % b)
    print()

Loading library list...
Done

In [26]:
import wrds
db = wrds.Connection()
column_headers = db.describe_table(library='crsp', table='msf')
column_headers

#import wrds
#db = wrds.Connection()
#db.describe_table(library='crsp', table='msf')

Loading library list...
Done
Approximately 4834467 rows in crsp.msf.

        name  nullable              type comment
0      cusip      True        VARCHAR(8)    None
1     permno      True  DOUBLE_PRECISION    None
2     permco      True  DOUBLE_PRECISION    None
3     issuno      True  DOUBLE_PRECISION    None
4      hexcd      True  DOUBLE_PRECISION    None
5     hsiccd      True  DOUBLE_PRECISION    None
6       date      True              DATE    None
7      bidlo      True  DOUBLE_PRECISION    None
8      askhi      True  DOUBLE_PRECISION    None
9        prc      True  DOUBLE_PRECISION    None
10       vol      True  DOUBLE_PRECISION    None
11       ret      True  DOUBLE_PRECISION    None
12       bid      True  DOUBLE_PRECISION    None
13       ask      True  DOUBLE_PRECISION    None
14    shrout      True  DOUBLE_PRECISION    None
15    cfacpr      True  DOUBLE_PRECISION    None
16   cfacshr      True  DOUBLE_PRECISION    None
17    altprc      True  DOUBLE_PRECISION    None
18    spread      True  DOUBLE_PRECISION    None
19  altprcdt      True              DATE    None
20      retx      True  DOUBLE_PRECISION    None

In [45]:
import wrds
db = wrds.Connection()
db.describe_table(library='crsp_a_stock', table='msf')

Loading library list...
Done
Approximately 4834507 rows in crsp_a_stock.msf.

,name,nullable,type,comment
0,cusip,True,VARCHAR(8),CUSIP Header
1,permno,True,DOUBLE_PRECISION,PERMNO
2,permco,True,DOUBLE_PRECISION,PERMCO
3,issuno,True,DOUBLE_PRECISION,Nasdaq Issue Number
4,hexcd,True,DOUBLE_PRECISION,Exchange Code Header
5,hsiccd,True,DOUBLE_PRECISION,Standard Industrial Classification Code
6,date,True,DATE,Date of Observation
7,bidlo,True,DOUBLE_PRECISION,Bid or Low Price
8,askhi,True,DOUBLE_PRECISION,Ask or High Price
9,prc,True,DOUBLE_PRECISION,Price or Bid/Ask Average
10,vol,True,DOUBLE_PRECISION,Volume
11,ret,True,DOUBLE_PRECISION,Returns
12,bid,True,DOUBLE_PRECISION,Bid
13,ask,True,DOUBLE_PRECISION,Ask
14,shrout,True,DOUBLE_PRECISION,Shares Outstanding
15,cfacpr,True,DOUBLE_PRECISION,Cumulative Factor to Adjust Prices
16,cfacshr,True,DOUBLE_PRECISION,Cumulative Factor to Adjust Shares/Vol
17,altprc,True,DOUBLE_PRECISION,Price Alternate
18,spread,True,DOUBLE_PRECISION,Spread Between Bid and Ask
19,altprcdt,True,DATE,Alternate Price Date
20,retx,True,DOUBLE_PRECISION,Returns without Dividends

In [134]:
import wrds
db = wrds.Connection()
db.get_row_count(library='crsp_a_stock', table='msf')
#db.get_row_count('crsp_a_stock', 'msf')

Loading library list...
Done

4834467

In [ ]:
#import wrds
#db = wrds.Connection()

#db.list_libraries()

#db.list_tables(library='crsp_a_stock')
#db.list_tables('crsp_a_stock')

#db.describe_table(library='crsp_a_stock', table='msf')
#db.describe_table('crsp_a_stock','msf')

#db.get_row_count(library='crsp_a_stock', table='msf')
#db.get_row_count('crsp_a_stock', 'msf')

In [133]:
import wrds
#import pandas
db = wrds.Connection()

#db.list_libraries()
#db.list_tables(library='crsp_a_stock')
#db.describe_table(library='crsp_a_stock', table='msf')

db.get_table(library='crsp_a_stock', table='msf')
#db.get_table(library='crsp_a_stock', table='msf').head()
#db.get_table(library='crsp_a_stock', table='msf', obs=10)

Loading library list...
Done

,cusip,permno,permco,issuno,hexcd,hsiccd,date,bidlo,askhi,prc,...,ret,bid,ask,shrout,cfacpr,cfacshr,altprc,spread,altprcdt,retx
0,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1985-12-31,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-2.562500,NaN,1986-01-07,NaN
1,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-01-31,-2.500000,-4.437500,-4.375000,...,NaN,NaN,NaN,3680.0,1.0,1.0,-4.375000,0.250,1986-01-31,NaN
2,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-02-28,-3.250000,-4.375000,-3.250000,...,-0.257143,NaN,NaN,3680.0,1.0,1.0,-3.250000,0.250,1986-02-28,-0.257143
3,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-03-31,-3.250000,-4.437500,-4.437500,...,0.365385,NaN,NaN,3680.0,1.0,1.0,-4.437500,0.125,1986-03-31,0.365385
4,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-04-30,-4.000000,-4.312500,-4.000000,...,-0.098592,NaN,NaN,3793.0,1.0,1.0,-4.000000,0.250,1986-04-30,-0.098592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334502,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2021-11-30,1013.390015,1229.910034,1144.760010,...,0.027612,1144.560059,1144.989990,1004265.0,1.0,1.0,1144.760010,NaN,2021-11-30,0.027612
334503,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2021-12-31,899.940002,1095.000000,1056.780029,...,-0.076855,1056.890015,1057.239990,1033534.0,1.0,1.0,1056.780029,NaN,2021-12-31,-0.076855
334504,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2022-01-31,829.099976,1199.780029,936.719971,...,-0.113609,936.000000,936.830017,1033534.0,1.0,1.0,936.719971,NaN,2022-01-31,-0.113609
334505,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2022-02-28,764.039978,932.000000,870.429993,...,-0.070768,870.780029,871.140015,1033534.0,1.0,1.0,870.429993,NaN,2022-02-28,-0.070768
334506,88160R10,93436.0,53453.0,66252.0,3.0,9999.0,2022-03-31,766.369995,1099.569946,1077.599976,...,0.238009,1077.599976,1077.880005,1033534.0,1.0,1.0,1077.599976,NaN,2022-03-31,0.238009

In [50]:
db.describe_table(library='crsp_a_stock', table='msf')

Approximately 4834467 rows in crsp_a_stock.msf.

,name,nullable,type,comment
0,cusip,True,VARCHAR(8),CUSIP Header
1,permno,True,DOUBLE_PRECISION,PERMNO
2,permco,True,DOUBLE_PRECISION,PERMCO
3,issuno,True,DOUBLE_PRECISION,Nasdaq Issue Number
4,hexcd,True,DOUBLE_PRECISION,Exchange Code Header
5,hsiccd,True,DOUBLE_PRECISION,Standard Industrial Classification Code
6,date,True,DATE,Date of Observation
7,bidlo,True,DOUBLE_PRECISION,Bid or Low Price
8,askhi,True,DOUBLE_PRECISION,Ask or High Price
9,prc,True,DOUBLE_PRECISION,Price or Bid/Ask Average
10,vol,True,DOUBLE_PRECISION,Volume
11,ret,True,DOUBLE_PRECISION,Returns
12,bid,True,DOUBLE_PRECISION,Bid
13,ask,True,DOUBLE_PRECISION,Ask
14,shrout,True,DOUBLE_PRECISION,Shares Outstanding
15,cfacpr,True,DOUBLE_PRECISION,Cumulative Factor to Adjust Prices
16,cfacshr,True,DOUBLE_PRECISION,Cumulative Factor to Adjust Shares/Vol
17,altprc,True,DOUBLE_PRECISION,Price Alternate
18,spread,True,DOUBLE_PRECISION,Spread Between Bid and Ask
19,altprcdt,True,DATE,Alternate Price Date
20,retx,True,DOUBLE_PRECISION,Returns without Dividends

In [117]:
import wrds
db = wrds.Connection()
apple = db.raw_sql("""select permno, date, prc, ret, shrout 
                      from crsp_a_stock.msf 
                      where permno = 14593
                      and date>='01/01/2021'
                      and date<='12/31/2021'""", 
                      date_cols=['date'])
apple

Loading library list...
Done

     permno       date         prc       ret      shrout
0   14593.0 2021-01-29  131.960007 -0.005502  16788096.0
1   14593.0 2021-02-26  121.260002 -0.079532  16788096.0
2   14593.0 2021-03-31  122.150002  0.007340  16686305.0
3   14593.0 2021-04-30  131.460007  0.076218  16687631.0
4   14593.0 2021-05-28  124.610001 -0.050434  16687631.0
5   14593.0 2021-06-30  136.960007  0.099109  16556942.0
6   14593.0 2021-07-30  145.860001  0.064982  16530166.0
7   14593.0 2021-08-31  151.830002  0.042438  16530166.0
8   14593.0 2021-09-30  141.500000 -0.068037  16426786.0
9   14593.0 2021-10-29  149.800003  0.058657  16406397.0
10  14593.0 2021-11-30  165.300003  0.104940  16406397.0
11  14593.0 2021-12-31  177.570007  0.074229  16344923.0

In [ ]:
import wrds
db = wrds.Connection()
apple = db.raw_sql("""select permno, date, prc, ret, shrout 
                      from crsp_a_stock.msf 
                      where permno = 14593
                      and date>='01/01/2021'
                      and date<='12/31/2021'""", 
                      date_cols=['date'])
apple

In [68]:
apple.to_csv('/home/smusg/ltee11/apple.csv')

In [73]:
import pandas as pd
df = pd.read_csv('apple.csv')
print(df.to_string())

    Unnamed: 0   permno        date         prc       ret      shrout
0            0  14593.0  2021-01-29  131.960007 -0.005502  16788096.0
1            1  14593.0  2021-02-26  121.260002 -0.079532  16788096.0
2            2  14593.0  2021-03-31  122.150002  0.007340  16686305.0
3            3  14593.0  2021-04-30  131.460007  0.076218  16687631.0
4            4  14593.0  2021-05-28  124.610001 -0.050434  16687631.0
5            5  14593.0  2021-06-30  136.960007  0.099109  16556942.0
6            6  14593.0  2021-07-30  145.860001  0.064982  16530166.0
7            7  14593.0  2021-08-31  151.830002  0.042438  16530166.0
8            8  14593.0  2021-09-30  141.500000 -0.068037  16426786.0
9            9  14593.0  2021-10-29  149.800003  0.058657  16406397.0
10          10  14593.0  2021-11-30  165.300003  0.104940  16406397.0
11          11  14593.0  2021-12-31  177.570007  0.074229  16344923.0

In [137]:
import wrds
db = wrds.Connection()
apple = db.raw_sql("""select count (*)
                      from crsp_a_stock.msf 
                      """)
apple

Loading library list...
Done

     count
0  4834507

In [67]:
#db.list_tables(library='crsp_q_mutualfunds')
#db.describe_table(library='crsp_q_mutualfunds', table='fund_summary2')

mfs = db.raw_sql("""select fund_name, ticker, first_offer_dt, mgmt_fee
                    --select *
                    from crsp_q_mutualfunds.fund_summary2""")
mfs

,summary_period2,crsp_fundno,caldt,summary_period,nav_latest,nav_latest_dt,tna_latest,tna_latest_dt,yield,div_ytd,...,accrual_fund,sales_restrict,wbrger_obj_cd,policy,lipper_class,lipper_class_name,lipper_obj_cd,lipper_obj_name,lipper_asset_cd,lipper_tax_cd
0,A,1.0,1997-12-31,A,15.30,1997-12-31,81.0,1997-12-31,0.062007,0.948700,...,None,None,None,None,None,None,None,None,None,None
1,A,1.0,1998-12-31,A,15.07,1998-12-31,196.7,1998-12-31,0.067384,1.015472,...,None,None,None,None,None,None,BBB,Corporate Debt Funds BBB-Rated,None,None
2,Q,1.0,1999-03-31,Q,14.84,1999-03-31,217.2,1999-03-31,0.016527,0.245256,...,None,None,None,None,None,None,BBB,Corporate Debt Funds BBB-Rated,None,None
3,Q,1.0,1999-06-30,Q,14.40,1999-06-30,213.1,1999-06-30,0.034137,0.491576,...,None,None,None,None,None,None,BBB,Corporate Debt Funds BBB-Rated,None,None
4,Q,1.0,1999-09-30,Q,14.18,1999-09-30,208.4,1999-09-30,0.051997,0.737319,...,None,None,None,None,None,None,BBB,Corporate Debt Funds BBB-Rated,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62288,Q,100557.0,2022-09-30,Q,1.00,2022-09-30,0.1,2022-09-30,0.000362,0.000362,...,Y,N,None,None,OTM,Other States Tax-Exempt Money Market Fds,OTM,OTHER STATES TAX-EXEMPT MONEY MARKET FDS,MB,Tax-Exempt
62289,Q,100558.0,2022-09-30,Q,1.00,2022-09-30,0.1,2022-09-30,0.000360,0.000360,...,Y,N,None,None,OTM,Other States Tax-Exempt Money Market Fds,OTM,OTHER STATES TAX-EXEMPT MONEY MARKET FDS,MB,Tax-Exempt
62290,Q,100559.0,2022-09-30,Q,1.00,2022-09-30,0.1,2022-09-30,0.000382,0.000382,...,Y,N,None,None,NYM,New York Tax-Exempt Money Market Funds,NYM,NEW YORK TAX-EXEMPT MONEY MARKET FUNDS,MB,Tax-Exempt
62291,Q,100560.0,2022-09-30,Q,29.72,2022-09-30,25.6,2022-09-30,NaN,NaN,...,N,N,None,None,MLCE,Multi-Cap Core Funds,G,GROWTH FUNDS,EQ,Taxable
62292,Q,100561.0,2022-09-30,Q,9.97,2022-09-30,1.9,2022-09-30,NaN,NaN,...,N,N,None,None,IMLC,International Multi-Cp Core Fds,IF,INTERNATIONAL FUNDS,EQ,Taxable

In [136]:
mfs = db.raw_sql("""select fund_name, ticker, first_offer_dt, mgmt_fee
                    --select *
                    from crsp_q_mutualfunds.fund_summary2 LIMIT 03""")
mfs

                        fund_name ticker first_offer_dt  mgmt_fee
0  AARP Income Tr:Bond for Income  AABIX     1997-02-01    -0.282
1  AARP Income Tr:Bond for Income  AABIX     1997-02-01     0.084
2  AARP Income Tr:Bond for Income  AABIX     1997-02-01     0.084

In [100]:
import wrds
db = wrds.Connection()
#db.get_table(library='crsp_q_mutualfunds', table='fund_summary2', obs=3)
db.get_table(library='crsp_q_mutualfunds', table='fund_summary2', columns = ['fund_name', 'ticker', 'first_offer_dt', 'mgmt_fee'], obs=3)

Loading library list...
Done

                        fund_name ticker first_offer_dt  mgmt_fee
0  AARP Income Tr:Bond for Income  AABIX     1997-02-01    -0.282
1  AARP Income Tr:Bond for Income  AABIX     1997-02-01     0.084
2  AARP Income Tr:Bond for Income  AABIX     1997-02-01     0.084

In [ ]:
import wrds
#import pandas
#import re
db = wrds.Connection()

#db.list_libraries()
#db.list_tables(library='crsp_a_stock')
#db.describe_table(library='crsp_a_stock', table='msf')
#db.get_table(library='crsp_a_stock', table='msf')
#db.get_table(library='crsp_a_stock', table='msf').head()
#db.get_table(library='crsp_a_stock', table='msf', obs=20)

#tables = db.list_tables(library='crsp_a_stock')
#open file in write mode
#with open(r'/home/smusg/ltee11/tables_OF_crsp_a_stock.txt', 'w') as a:
#    for b in tables:
        #write each item on a new line
#        a.write("%s\n" % b)
#    print()

In [56]:
import wrds
db = wrds.Connection()
c = db.raw_sql(""" select ticker, comnam, permno, ncusip, namedt, nameenddt
                   from crsp.stocknames """, date_cols=['namedt', 'nameenddt'])

c = c.loc[c.ticker.notnull()].sort_values(by=['permno','ticker','namedt'])
c

Loading library list...
Done

,ticker,comnam,permno,ncusip,namedt,nameenddt
0,OMFGA,OPTIMUM MANUFACTURING INC,10000.0,68391610,1986-01-07,1987-06-11
4,EGAS,ENERGY INC,10001.0,29269V10,2009-08-04,2009-12-17
5,EGAS,ENERGY INC,10001.0,29269V10,2009-12-18,2010-07-08
6,EGAS,GAS NATURAL INC,10001.0,36720410,2010-07-09,2017-08-03
2,EWST,ENERGY WEST INC,10001.0,29274A10,1993-11-22,2008-02-04
...,...,...,...,...,...,...
77774,VLTC,VOLTARI CORP,93433.0,92870X30,2013-04-24,2016-12-22
77775,SANW,S & W SEED CO,93434.0,78513510,2010-06-14,2022-03-31
77776,SCEI,SINO CLEAN ENERGY INC,93435.0,82936G20,2010-06-14,2012-05-18
77777,TSLA,TESLA MOTORS INC,93436.0,88160R10,2010-06-29,2017-02-01
77778,TSLA,TESLA INC,93436.0,88160R10,2017-02-02,2022-03-31

In [57]:
import wrds
db = wrds.Connection()
c = db.raw_sql(""" select ticker, comnam, permno, ncusip, namedt, nameenddt
                   from crsp.stocknames 
                   order by permno, namedt, ticker """)
c

Loading library list...
Done

,ticker,comnam,permno,ncusip,namedt,nameenddt
0,OMFGA,OPTIMUM MANUFACTURING INC,10000.0,68391610,1986-01-07,1987-06-11
1,GFGC,GREAT FALLS GAS CO,10001.0,39040610,1986-01-09,1993-11-21
2,EWST,ENERGY WEST INC,10001.0,29274A10,1993-11-22,2008-02-04
3,EWST,ENERGY WEST INC,10001.0,29274A20,2008-02-05,2009-08-03
4,EGAS,ENERGY INC,10001.0,29269V10,2009-08-04,2009-12-17
...,...,...,...,...,...,...
77774,VLTC,VOLTARI CORP,93433.0,92870X30,2013-04-24,2016-12-22
77775,SANW,S & W SEED CO,93434.0,78513510,2010-06-14,2022-03-31
77776,SCEI,SINO CLEAN ENERGY INC,93435.0,82936G20,2010-06-14,2012-05-18
77777,TSLA,TESLA MOTORS INC,93436.0,88160R10,2010-06-29,2017-02-01
77778,TSLA,TESLA INC,93436.0,88160R10,2017-02-02,2022-03-31

In [ ]:
### TAQ ###

In [139]:
import wrds
db = wrds.Connection()
lib = db.list_libraries()
taq = [x for x in lib if 'taq' in x]
taq

Loading library list...
Done

['taqm_2003',
 'taqm_2004',
 'taqm_2005',
 'taqm_2006',
 'taqm_2007',
 'taqm_2008',
 'taqm_2009',
 'taqm_2010',
 'taqm_2011',
 'taqm_2012',
 'taqm_2013',
 'taqm_2014',
 'taqm_2015',
 'taqm_2016',
 'taqm_2017',
 'taqm_2018',
 'taqm_2019',
 'taqm_2020',
 'taqmsamp',
 'taqmsamp_all',
 'taqmsec',
 'taqsamp',
 'wrdsapps_link_crsp_taq']

In [14]:
import wrds
db = wrds.Connection()
tables = db.list_tables(library='taqm_2020')
tables

Loading library list...
Done

['complete_nbbo_2020',
 'complete_nbbo_20200102',
 'complete_nbbo_20200103',
 'complete_nbbo_20200106',
 'complete_nbbo_20200107',
 'complete_nbbo_20200108',
 'complete_nbbo_20200109',
 'complete_nbbo_20200110',
 'complete_nbbo_20200113',
 'complete_nbbo_20200114',
 'complete_nbbo_20200115',
 'complete_nbbo_20200116',
 'complete_nbbo_20200117',
 'complete_nbbo_20200121',
 'complete_nbbo_20200122',
 'complete_nbbo_20200123',
 'complete_nbbo_20200124',
 'complete_nbbo_20200127',
 'complete_nbbo_20200128',
 'complete_nbbo_20200129',
 'complete_nbbo_20200130',
 'complete_nbbo_20200131',
 'complete_nbbo_20200203',
 'complete_nbbo_20200204',
 'complete_nbbo_20200205',
 'complete_nbbo_20200206',
 'complete_nbbo_20200207',
 'complete_nbbo_20200210',
 'complete_nbbo_20200211',
 'complete_nbbo_20200212',
 'complete_nbbo_20200213',
 'complete_nbbo_20200214',
 'complete_nbbo_20200218',
 'complete_nbbo_20200219',
 'complete_nbbo_20200220',
 'complete_nbbo_20200221',
 'complete_nbbo_20200224',
 'complete_nbbo_20200225',
 'complete_nbbo_20200226',
 'complete_nbbo_20200227',
 'complete_nbbo_20200228',
 'complete_nbbo_20200302',
 'complete_nbbo_20200303',
 'complete_nbbo_20200304',
 'complete_nbbo_20200305',
 'complete_nbbo_20200306',
 'complete_nbbo_20200309',
 'complete_nbbo_20200310',
 'complete_nbbo_20200311',
 'complete_nbbo_20200312',
 'complete_nbbo_20200313',
 'complete_nbbo_20200316',
 'complete_nbbo_20200317',
 'complete_nbbo_20200318',
 'complete_nbbo_20200319',
 'complete_nbbo_20200320',
 'complete_nbbo_20200323',
 'complete_nbbo_20200324',
 'complete_nbbo_20200325',
 'complete_nbbo_20200326',
 'complete_nbbo_20200327',
 'complete_nbbo_20200330',
 'complete_nbbo_20200331',
 'complete_nbbo_20200401',
 'complete_nbbo_20200402',
 'complete_nbbo_20200403',
 'complete_nbbo_20200406',
 'complete_nbbo_20200407',
 'complete_nbbo_20200408',
 'complete_nbbo_20200409',
 'complete_nbbo_20200413',
 'complete_nbbo_20200414',
 'complete_nbbo_20200415',
 'complete_nbbo_20200416',
 'complete_nbbo_20200417',
 'complete_nbbo_20200420',
 'complete_nbbo_20200421',
 'complete_nbbo_20200422',
 'complete_nbbo_20200423',
 'complete_nbbo_20200424',
 'complete_nbbo_20200427',
 'complete_nbbo_20200428',
 'complete_nbbo_20200429',
 'complete_nbbo_20200430',
 'complete_nbbo_20200501',
 'complete_nbbo_20200504',
 'complete_nbbo_20200505',
 'complete_nbbo_20200506',
 'complete_nbbo_20200507',
 'complete_nbbo_20200508',
 'complete_nbbo_20200511',
 'complete_nbbo_20200512',
 'complete_nbbo_20200513',
 'complete_nbbo_20200514',
 'complete_nbbo_20200515',
 'complete_nbbo_20200518',
 'complete_nbbo_20200519',
 'complete_nbbo_20200520',
 'complete_nbbo_20200521',
 'complete_nbbo_20200522',
 'complete_nbbo_20200526',
 'complete_nbbo_20200527',
 'complete_nbbo_20200528',
 'complete_nbbo_20200529',
 'complete_nbbo_20200601',
 'complete_nbbo_20200602',
 'complete_nbbo_20200603',
 'complete_nbbo_20200604',
 'complete_nbbo_20200605',
 'complete_nbbo_20200608',
 'complete_nbbo_20200609',
 'complete_nbbo_20200610',
 'complete_nbbo_20200611',
 'complete_nbbo_20200612',
 'complete_nbbo_20200615',
 'complete_nbbo_20200616',
 'complete_nbbo_20200617',
 'complete_nbbo_20200618',
 'complete_nbbo_20200619',
 'complete_nbbo_20200622',
 'complete_nbbo_20200623',
 'complete_nbbo_20200624',
 'complete_nbbo_20200625',
 'complete_nbbo_20200626',
 'complete_nbbo_20200629',
 'complete_nbbo_20200630',
 'complete_nbbo_20200701',
 'complete_nbbo_20200702',
 'complete_nbbo_20200706',
 'complete_nbbo_20200707',
 'complete_nbbo_20200708',
 'complete_nbbo_20200709',
 'complete_nbbo_20200710',
 'complete_nbbo_20200713',
 'complete_nbbo_20200714',
 'complete_nbbo_20200715',
 'complete_nbbo_20200716',
 'complete_nbbo_20200717',
 'complete_nbbo_20200720',
 'complete_nbbo_20200721',
 'complete_nbbo_20200722',
 'complete_nbbo_20200723',
 'complete_nbbo_20200724',
 'complete_nbbo_20200727',
 'complete_nbbo_20200728',
 'complete_nbbo_20200729',
 'complete_nbbo_20200730',
 'complete_nbbo_20200731',
 'complete_nbbo_20200803',
 'complete_nbbo_20200804',
 'complete_nbbo_20200805',
 'complete_nbbo_20200806',
 'complete_nbbo_20200807',
 'complete_nbbo_20200810',
 'complete_nbbo_20200811',
 'complete_nbbo_20200812',
 'complete_nbbo_20200813',
 'complete_nbbo_20200814',
 'complete_nbbo_20200817',
 'complete_nbbo_20200818',
 'complete_nbbo_20200819',
 'complete_nbbo_20200820',
 'complete_nbbo_20200821',
 'complete_nbbo_20200824',
 'complete_nbbo_20200825',
 'complete_nbbo_20200826',
 'complete_nbbo_20200827',
 'complete_nbbo_20200828',
 'complete_nbbo_20200831',
 'complete_nbbo_20200901',
 'complete_nbbo_20200902',
 'complete_nbbo_20200903',
 'complete_nbbo_20200904',
 'complete_nbbo_20200908',
 'complete_nbbo_20200909',
 'complete_nbbo_20200910',
 'complete_nbbo_20200911',
 'complete_nbbo_20200914',
 'complete_nbbo_20200915',
 'complete_nbbo_20200916',
 'complete_nbbo_20200917',
 'complete_nbbo_20200918',
 'complete_nbbo_20200921',
 'complete_nbbo_20200922',
 'complete_nbbo_20200923',
 'complete_nbbo_20200924',
 'complete_nbbo_20200925',
 'complete_nbbo_20200928',
 'complete_nbbo_20200929',
 'complete_nbbo_20200930',
 'complete_nbbo_20201001',
 'complete_nbbo_20201002',
 'complete_nbbo_20201005',
 'complete_nbbo_20201006',
 'complete_nbbo_20201007',
 'complete_nbbo_20201008',
 'complete_nbbo_20201009',
 'complete_nbbo_20201012',
 'complete_nbbo_20201013',
 'complete_nbbo_20201014',
 'complete_nbbo_20201015',
 'complete_nbbo_20201016',
 'complete_nbbo_20201019',
 'complete_nbbo_20201020',
 'complete_nbbo_20201021',
 'complete_nbbo_20201022',
 'complete_nbbo_20201023',
 'complete_nbbo_20201026',
 'complete_nbbo_20201027',
 'complete_nbbo_20201028',
 'complete_nbbo_20201029',
 'complete_nbbo_20201030',
 'complete_nbbo_20201102',
 'complete_nbbo_20201103',
 'complete_nbbo_20201104',
 'complete_nbbo_20201105',
 'complete_nbbo_20201106',
 'complete_nbbo_20201109',
 'complete_nbbo_20201110',
 'complete_nbbo_20201111',
 'complete_nbbo_20201112',
 'complete_nbbo_20201113',
 'complete_nbbo_20201116',
 'complete_nbbo_20201117',
 'complete_nbbo_20201118',
 'complete_nbbo_20201119',
 'complete_nbbo_20201120',
 'complete_nbbo_20201123',
 'complete_nbbo_20201124',
 'complete_nbbo_20201125',
 'complete_nbbo_20201127',
 'complete_nbbo_20201130',
 'complete_nbbo_20201201',
 'complete_nbbo_20201202',
 'complete_nbbo_20201203',
 'complete_nbbo_20201204',
 'complete_nbbo_20201207',
 'complete_nbbo_20201208',
 'complete_nbbo_20201209',
 'complete_nbbo_20201210',
 'complete_nbbo_20201211',
 'complete_nbbo_20201214',
 'complete_nbbo_20201215',
 'complete_nbbo_20201216',
 'complete_nbbo_20201217',
 'complete_nbbo_20201218',
 'complete_nbbo_20201221',
 'complete_nbbo_20201222',
 'complete_nbbo_20201223',
 'complete_nbbo_20201224',
 'complete_nbbo_20201228',
 'complete_nbbo_20201229',
 'complete_nbbo_20201230',
 'complete_nbbo_20201231',
 'cqm_2020',
 'cqm_20200102',
 'cqm_20200103',
 'cqm_20200106',
 'cqm_20200107',
 'cqm_20200108',
 'cqm_20200109',
 'cqm_20200110',
 'cqm_20200113',
 'cqm_20200114',
 'cqm_20200115',
 'cqm_20200116',
 'cqm_20200117',
 'cqm_20200121',
 'cqm_20200122',
 'cqm_20200123',
 'cqm_20200124',
 'cqm_20200127',
 'cqm_20200128',
 'cqm_20200129',
 'cqm_20200130',
 'cqm_20200131',
 'cqm_20200203',
 'cqm_20200204',
 'cqm_20200205',
 'cqm_20200206',
 'cqm_20200207',
 'cqm_20200210',
 'cqm_20200211',
 'cqm_20200212',
 'cqm_20200213',
 'cqm_20200214',
 'cqm_20200218',
 'cqm_20200219',
 'cqm_20200220',
 'cqm_20200221',
 'cqm_20200224',
 'cqm_20200225',
 'cqm_20200226',
 'cqm_20200227',
 'cqm_20200228',
 'cqm_20200302',
 'cqm_20200303',
 'cqm_20200304',
 'cqm_20200305',
 'cqm_20200306',
 'cqm_20200309',
 'cqm_20200310',
 'cqm_20200311',
 'cqm_20200312',
 'cqm_20200313',
 'cqm_20200316',
 'cqm_20200317',
 'cqm_20200318',
 'cqm_20200319',
 'cqm_20200320',
 'cqm_20200323',
 'cqm_20200324',
 'cqm_20200325',
 'cqm_20200326',
 'cqm_20200327',
 'cqm_20200330',
 'cqm_20200331',
 'cqm_20200401',
 'cqm_20200402',
 'cqm_20200403',
 'cqm_20200406',
 'cqm_20200407',
 'cqm_20200408',
 'cqm_20200409',
 'cqm_20200413',
 'cqm_20200414',
 'cqm_20200415',
 'cqm_20200416',
 'cqm_20200417',
 'cqm_20200420',
 'cqm_20200421',
 'cqm_20200422',
 'cqm_20200423',
 'cqm_20200424',
 'cqm_20200427',
 'cqm_20200428',
 'cqm_20200429',
 'cqm_20200430',
 'cqm_20200501',
 'cqm_20200504',
 'cqm_20200505',
 'cqm_20200506',
 'cqm_20200507',
 'cqm_20200508',
 'cqm_20200511',
 'cqm_20200512',
 'cqm_20200513',
 'cqm_20200514',
 'cqm_20200515',
 'cqm_20200518',
 'cqm_20200519',
 'cqm_20200520',
 'cqm_20200521',
 'cqm_20200522',
 'cqm_20200526',
 'cqm_20200527',
 'cqm_20200528',
 'cqm_20200529',
 'cqm_20200601',
 'cqm_20200602',
 'cqm_20200603',
 'cqm_20200604',
 'cqm_20200605',
 'cqm_20200608',
 'cqm_20200609',
 'cqm_20200610',
 'cqm_20200611',
 'cqm_20200612',
 'cqm_20200615',
 'cqm_20200616',
 'cqm_20200617',
 'cqm_20200618',
 'cqm_20200619',
 'cqm_20200622',
 'cqm_20200623',
 'cqm_20200624',
 'cqm_20200625',
 'cqm_20200626',
 'cqm_20200629',
 'cqm_20200630',
 'cqm_20200701',
 'cqm_20200702',
 'cqm_20200706',
 'cqm_20200707',
 'cqm_20200708',
 'cqm_20200709',
 'cqm_20200710',
 'cqm_20200713',
 'cqm_20200714',
 'cqm_20200715',
 'cqm_20200716',
 'cqm_20200717',
 'cqm_20200720',
 'cqm_20200721',
 'cqm_20200722',
 'cqm_20200723',
 'cqm_20200724',
 'cqm_20200727',
 'cqm_20200728',
 'cqm_20200729',
 'cqm_20200730',
 'cqm_20200731',
 'cqm_20200803',
 'cqm_20200804',
 'cqm_20200805',
 'cqm_20200806',
 'cqm_20200807',
 'cqm_20200810',
 'cqm_20200811',
 'cqm_20200812',
 'cqm_20200813',
 'cqm_20200814',
 'cqm_20200817',
 'cqm_20200818',
 'cqm_20200819',
 'cqm_20200820',
 'cqm_20200821',
 'cqm_20200824',
 'cqm_20200825',
 'cqm_20200826',
 'cqm_20200827',
 'cqm_20200828',
 'cqm_20200831',
 'cqm_20200901',
 'cqm_20200902',
 'cqm_20200903',
 'cqm_20200904',
 'cqm_20200908',
 'cqm_20200909',
 'cqm_20200910',
 'cqm_20200911',
 'cqm_20200914',
 'cqm_20200915',
 'cqm_20200916',
 'cqm_20200917',
 'cqm_20200918',
 'cqm_20200921',
 'cqm_20200922',
 'cqm_20200923',
 'cqm_20200924',
 'cqm_20200925',
 'cqm_20200928',
 'cqm_20200929',
 'cqm_20200930',
 'cqm_20201001',
 'cqm_20201002',
 'cqm_20201005',
 'cqm_20201006',
 'cqm_20201007',
 'cqm_20201008',
 'cqm_20201009',
 'cqm_20201012',
 'cqm_20201013',
 'cqm_20201014',
 'cqm_20201015',
 'cqm_20201016',
 'cqm_20201019',
 'cqm_20201020',
 'cqm_20201021',
 'cqm_20201022',
 'cqm_20201023',
 'cqm_20201026',
 'cqm_20201027',
 'cqm_20201028',
 'cqm_20201029',
 'cqm_20201030',
 'cqm_20201102',
 'cqm_20201103',
 'cqm_20201104',
 'cqm_20201105',
 'cqm_20201106',
 'cqm_20201109',
 'cqm_20201110',
 'cqm_20201111',
 'cqm_20201112',
 'cqm_20201113',
 'cqm_20201116',
 'cqm_20201117',
 'cqm_20201118',
 'cqm_20201119',
 'cqm_20201120',
 'cqm_20201123',
 'cqm_20201124',
 'cqm_20201125',
 'cqm_20201127',
 'cqm_20201130',
 'cqm_20201201',
 'cqm_20201202',
 'cqm_20201203',
 'cqm_20201204',
 'cqm_20201207',
 'cqm_20201208',
 'cqm_20201209',
 'cqm_20201210',
 'cqm_20201211',
 'cqm_20201214',
 'cqm_20201215',
 'cqm_20201216',
 'cqm_20201217',
 'cqm_20201218',
 'cqm_20201221',
 'cqm_20201222',
 'cqm_20201223',
 'cqm_20201224',
 'cqm_20201228',
 'cqm_20201229',
 'cqm_20201230',
 'cqm_20201231',
 'ctm_2020',
 'ctm_20200102',
 'ctm_20200103',
 'ctm_20200106',
 'ctm_20200107',
 'ctm_20200108',
 'ctm_20200109',
 'ctm_20200110',
 'ctm_20200113',
 'ctm_20200114',
 'ctm_20200115',
 'ctm_20200116',
 'ctm_20200117',
 'ctm_20200121',
 'ctm_20200122',
 'ctm_20200123',
 'ctm_20200124',
 'ctm_20200127',
 'ctm_20200128',
 'ctm_20200129',
 'ctm_20200130',
 'ctm_20200131',
 'ctm_20200203',
 'ctm_20200204',
 'ctm_20200205',
 'ctm_20200206',
 'ctm_20200207',
 'ctm_20200210',
 'ctm_20200211',
 'ctm_20200212',
 'ctm_20200213',
 'ctm_20200214',
 'ctm_20200218',
 'ctm_20200219',
 'ctm_20200220',
 'ctm_20200221',
 'ctm_20200224',
 'ctm_20200225',
 'ctm_20200226',
 'ctm_20200227',
 'ctm_20200228',
 'ctm_20200302',
 'ctm_20200303',
 'ctm_20200304',
 'ctm_20200305',
 'ctm_20200306',
 'ctm_20200309',
 'ctm_20200310',
 'ctm_20200311',
 'ctm_20200312',
 'ctm_20200313',
 'ctm_20200316',
 'ctm_20200317',
 'ctm_20200318',
 'ctm_20200319',
 'ctm_20200320',
 'ctm_20200323',
 'ctm_20200324',
 'ctm_20200325',
 'ctm_20200326',
 'ctm_20200327',
 'ctm_20200330',
 'ctm_20200331',
 'ctm_20200401',
 'ctm_20200402',
 'ctm_20200403',
 'ctm_20200406',
 'ctm_20200407',
 'ctm_20200408',
 'ctm_20200409',
 'ctm_20200413',
 'ctm_20200414',
 'ctm_20200415',
 'ctm_20200416',
 'ctm_20200417',
 'ctm_20200420',
 'ctm_20200421',
 'ctm_20200422',
 'ctm_20200423',
 'ctm_20200424',
 'ctm_20200427',
 'ctm_20200428',
 'ctm_20200429',
 'ctm_20200430',
 'ctm_20200501',
 'ctm_20200504',
 'ctm_20200505',
 'ctm_20200506',
 'ctm_20200507',
 'ctm_20200508',
 'ctm_20200511',
 'ctm_20200512',
 'ctm_20200513',
 'ctm_20200514',
 'ctm_20200515',
 'ctm_20200518',
 'ctm_20200519',
 'ctm_20200520',
 'ctm_20200521',
 'ctm_20200522',
 'ctm_20200526',
 'ctm_20200527',
 'ctm_20200528',
 'ctm_20200529',
 'ctm_20200601',
 'ctm_20200602',
 'ctm_20200603',
 'ctm_20200604',
 'ctm_20200605',
 'ctm_20200608',
 'ctm_20200609',
 'ctm_20200610',
 'ctm_20200611',
 'ctm_20200612',
 'ctm_20200615',
 'ctm_20200616',
 'ctm_20200617',
 'ctm_20200618',
 'ctm_20200619',
 'ctm_20200622',
 'ctm_20200623',
 'ctm_20200624',
 'ctm_20200625',
 'ctm_20200626',
 'ctm_20200629',
 'ctm_20200630',
 'ctm_20200701',
 'ctm_20200702',
 'ctm_20200706',
 'ctm_20200707',
 'ctm_20200708',
 'ctm_20200709',
 'ctm_20200710',
 'ctm_20200713',
 'ctm_20200714',
 'ctm_20200715',
 'ctm_20200716',
 'ctm_20200717',
 'ctm_20200720',
 'ctm_20200721',
 'ctm_20200722',
 'ctm_20200723',
 'ctm_20200724',
 'ctm_20200727',
 'ctm_20200728',
 'ctm_20200729',
 'ctm_20200730',
 'ctm_20200731',
 'ctm_20200803',
 'ctm_20200804',
 'ctm_20200805',
 'ctm_20200806',
 'ctm_20200807',
 'ctm_20200810',
 'ctm_20200811',
 'ctm_20200812',
 'ctm_20200813',
 'ctm_20200814',
 'ctm_20200817',
 'ctm_20200818',
 'ctm_20200819',
 'ctm_20200820',
 'ctm_20200821',
 'ctm_20200824',
 'ctm_20200825',
 'ctm_20200826',
 'ctm_20200827',
 'ctm_20200828',
 'ctm_20200831',
 'ctm_20200901',
 'ctm_20200902',
 'ctm_20200903',
 'ctm_20200904',
 'ctm_20200908',
 'ctm_20200909',
 'ctm_20200910',
 'ctm_20200911',
 'ctm_20200914',
 'ctm_20200915',
 'ctm_20200916',
 'ctm_20200917',
 'ctm_20200918',
 'ctm_20200921',
 'ctm_20200922',
 'ctm_20200923',
 'ctm_20200924',
 'ctm_20200925',
 'ctm_20200928',
 'ctm_20200929',
 'ctm_20200930',
 'ctm_20201001',
 'ctm_20201002',
 'ctm_20201005',
 'ctm_20201006',
 'ctm_20201007',
 'ctm_20201008',
 'ctm_20201009',
 'ctm_20201012',
 'ctm_20201013',
 'ctm_20201014',
 'ctm_20201015',
 'ctm_20201016',
 'ctm_20201019',
 'ctm_20201020',
 'ctm_20201021',
 'ctm_20201022',
 'ctm_20201023',
 'ctm_20201026',
 'ctm_20201027',
 'ctm_20201028',
 'ctm_20201029',
 'ctm_20201030',
 'ctm_20201102',
 'ctm_20201103',
 'ctm_20201104',
 'ctm_20201105',
 'ctm_20201106',
 'ctm_20201109',
 'ctm_20201110',
 'ctm_20201111',
 'ctm_20201112',
 'ctm_20201113',
 'ctm_20201116',
 'ctm_20201117',
 'ctm_20201118',
 'ctm_20201119',
 'ctm_20201120',
 'ctm_20201123',
 'ctm_20201124',
 'ctm_20201125',
 'ctm_20201127',
 'ctm_20201130',
 'ctm_20201201',
 'ctm_20201202',
 'ctm_20201203',
 'ctm_20201204',
 'ctm_20201207',
 'ctm_20201208',
 'ctm_20201209',
 'ctm_20201210',
 'ctm_20201211',
 'ctm_20201214',
 'ctm_20201215',
 'ctm_20201216',
 'ctm_20201217',
 'ctm_20201218',
 'ctm_20201221',
 'ctm_20201222',
 'ctm_20201223',
 'ctm_20201224',
 'ctm_20201228',
 'ctm_20201229',
 'ctm_20201230',
 'ctm_20201231',
 'mastm_2020',
 'mastm_20200102',
 'mastm_20200103',
 'mastm_20200106',
 'mastm_20200107',
 'mastm_20200108',
 'mastm_20200109',
 'mastm_20200110',
 'mastm_20200113',
 'mastm_20200114',
 'mastm_20200115',
 'mastm_20200116',
 'mastm_20200117',
 'mastm_20200121',
 'mastm_20200122',
 'mastm_20200123',
 'mastm_20200124',
 'mastm_20200127',
 'mastm_20200128',
 'mastm_20200129',
 'mastm_20200130',
 'mastm_20200131',
 'mastm_20200203',
 'mastm_20200204',
 'mastm_20200205',
 'mastm_20200206',
 'mastm_20200207',
 'mastm_20200210',
 'mastm_20200211',
 'mastm_20200212',
 'mastm_20200213',
 'mastm_20200214',
 'mastm_20200218',
 'mastm_20200219',
 'mastm_20200220',
 'mastm_20200221',
 'mastm_20200224',
 'mastm_20200225',
 'mastm_20200226',
 'mastm_20200227',
 'mastm_20200228',
 'mastm_20200302',
 'mastm_20200303',
 'mastm_20200304',
 'mastm_20200305',
 'mastm_20200306',
 'mastm_20200309',
 'mastm_20200310',
 'mastm_20200311',
 'mastm_20200312',
 'mastm_20200313',
 'mastm_20200316',
 'mastm_20200317',
 'mastm_20200318',
 'mastm_20200319',
 'mastm_20200320',
 'mastm_20200323',
 'mastm_20200324',
 'mastm_20200325',
 'mastm_20200326',
 'mastm_20200327',
 'mastm_20200330',
 'mastm_20200331',
 'mastm_20200401',
 'mastm_20200402',
 'mastm_20200403',
 'mastm_20200406',
 'mastm_20200407',
 'mastm_20200408',
 'mastm_20200409',
 'mastm_20200413',
 'mastm_20200414',
 'mastm_20200415',
 'mastm_20200416',
 'mastm_20200417',
 'mastm_20200420',
 'mastm_20200421',
 'mastm_20200422',
 'mastm_20200423',
 'mastm_20200424',
 'mastm_20200427',
 'mastm_20200428',
 'mastm_20200429',
 'mastm_20200430',
 'mastm_20200501',
 'mastm_20200504',
 'mastm_20200505',
 'mastm_20200506',
 'mastm_20200507',
 'mastm_20200508',
 'mastm_20200511',
 'mastm_20200512',
 'mastm_20200513',
 'mastm_20200514',
 'mastm_20200515',
 'mastm_20200518',
 'mastm_20200519',
 'mastm_20200520',
 'mastm_20200521',
 'mastm_20200522',
 'mastm_20200526',
 'mastm_20200527',
 'mastm_20200528',
 'mastm_20200529',
 'mastm_20200601',
 'mastm_20200602',
 'mastm_20200603',
 'mastm_20200604',
 'mastm_20200605',
 'mastm_20200608',
 'mastm_20200609',
 'mastm_20200610',
 'mastm_20200611',
 'mastm_20200612',
 'mastm_20200615',
 'mastm_20200616',
 'mastm_20200617',
 'mastm_20200618',
 'mastm_20200619',
 'mastm_20200622',
 'mastm_20200623',
 'mastm_20200624',
 'mastm_20200625',
 'mastm_20200626',
 'mastm_20200629',
 'mastm_20200630',
 'mastm_20200701',
 'mastm_20200702',
 'mastm_20200706',
 'mastm_20200707',
 'mastm_20200708',
 'mastm_20200709',
 'mastm_20200710',
 'mastm_20200713',
 'mastm_20200714',
 'mastm_20200715',
 'mastm_20200716',
 'mastm_20200717',
 'mastm_20200720',
 'mastm_20200721',
 'mastm_20200722',
 'mastm_20200723',
 'mastm_20200724',
 'mastm_20200727',
 'mastm_20200728',
 'mastm_20200729',
 'mastm_20200730',
 'mastm_20200731',
 'mastm_20200803',
 'mastm_20200804',
 'mastm_20200805',
 'mastm_20200806',
 'mastm_20200807',
 'mastm_20200810',
 'mastm_20200811',
 'mastm_20200812',
 'mastm_20200813',
 'mastm_20200814',
 'mastm_20200817',
 'mastm_20200818',
 'mastm_20200819',
 'mastm_20200820',
 'mastm_20200821',
 'mastm_20200824',
 'mastm_20200825',
 'mastm_20200826',
 'mastm_20200827',
 'mastm_20200828',
 'mastm_20200831',
 'mastm_20200901',
 'mastm_20200902',
 'mastm_20200903',
 'mastm_20200904',
 'mastm_20200908',
 'mastm_20200909',
 'mastm_20200910',
 'mastm_20200911',
 'mastm_20200914',
 'mastm_20200915',
 'mastm_20200916',
 'mastm_20200917',
 'mastm_20200918',
 'mastm_20200921',
 'mastm_20200922',
 'mastm_20200923',
 'mastm_20200924',
 'mastm_20200925',
 'mastm_20200928',
 'mastm_20200929',
 'mastm_20200930',
 'mastm_20201001',
 'mastm_20201002',
 'mastm_20201005',
 'mastm_20201006',
 'mastm_20201007',
 'mastm_20201008',
 'mastm_20201009',
 'mastm_20201012',
 'mastm_20201013',
 'mastm_20201014',
 'mastm_20201015',
 'mastm_20201016',
 'mastm_20201019',
 'mastm_20201020',
 'mastm_20201021',
 'mastm_20201022',
 'mastm_20201023',
 'mastm_20201026',
 'mastm_20201027',
 'mastm_20201028',
 'mastm_20201029',
 'mastm_20201030',
 'mastm_20201102',
 'mastm_20201103',
 'mastm_20201104',
 'mastm_20201105',
 'mastm_20201106',
 'mastm_20201109',
 'mastm_20201110',
 'mastm_20201111',
 'mastm_20201112',
 'mastm_20201113',
 'mastm_20201116',
 'mastm_20201117',
 'mastm_20201118',
 'mastm_20201119',
 'mastm_20201120',
 'mastm_20201123',
 'mastm_20201124',
 'mastm_20201125',
 'mastm_20201127',
 'mastm_20201130',
 'mastm_20201201',
 'mastm_20201202',
 'mastm_20201203',
 'mastm_20201204',
 'mastm_20201207',
 'mastm_20201208',

In [ ]:
#'complete_nbbo_2020'
#'cqm_2020'
#'ctm_2020'
#'mastm_2020'

In [141]:
import wrds
db = wrds.Connection()
db.describe_table(library='taqm_2020', table='complete_nbbo_2020')

Loading library list...
Done
Approximately 64665607454 rows in taqm_2020.complete_nbbo_2020.

,name,nullable,type,comment
0,date,False,DATE,Date of quote
1,time_m,False,TIME,Trade Time
2,time_m_nano,True,SMALLINT,Nanosecond offset of time_m
3,sym_root,False,TEXT,Security symbol root
4,sym_suffix,True,TEXT,Security symbol suffix
5,qu_cond,True,VARCHAR(1),Condition of quote issued
6,natbbo_ind,True,VARCHAR(1),Effect of new quote on NBBO
7,qu_source,True,VARCHAR(1),None
8,nbbo_qu_cond,True,VARCHAR(1),None
9,best_bid,True,NUMERIC,National Best Bid
10,best_bidsizeshares,True,INTEGER,Maximum Bid Size of all exchanges at National ...
11,best_ask,True,NUMERIC,National Best Offer
12,best_asksizeshares,True,INTEGER,Maximum Offer Size of all exchanges at Nationa...

In [142]:
import wrds
db = wrds.Connection()
db.describe_table(library='taqm_2020', table='cqm_2020')

Loading library list...
Done
Approximately 322801791744 rows in taqm_2020.cqm_2020.

,name,nullable,type,comment
0,date,False,DATE,Date of quote
1,time_m,False,TIME,Time to the microsecond
2,time_m_nano,True,SMALLINT,Nanosecond offset
3,ex,True,VARCHAR(1),Exchange that issued the quote
4,sym_root,False,TEXT,Security symbol root
5,sym_suffix,True,TEXT,Security symbol suffix
6,bid,True,NUMERIC,Bid price
7,bidsiz,True,INTEGER,Bid size in units of trade
8,ask,True,NUMERIC,Ask price
9,asksiz,True,INTEGER,Ask size in units of trade
10,qu_cond,True,VARCHAR(1),Condition of quote issued
11,qu_seqnum,True,BIGINT,Quote Sequence Number
12,natbbo_ind,True,VARCHAR(1),National BBO Indicator
13,qu_cancel,True,VARCHAR(1),Quote Cancel/Correction
14,qu_source,True,VARCHAR(1),Source of Quote
15,rpi,True,VARCHAR(1),Retail Interest Indicator
16,ssr,True,VARCHAR(1),Short Sale Restriction
17,luld_bbo_indicator,True,VARCHAR(1),None
18,finra_bbo_ind,True,VARCHAR(1),FINRA BBO (FBBO) Indicator
19,finra_adf_mpid,True,VARCHAR(1),FINRA ADF MPID Indicator
20,finra_adf_time,True,TIME,FINRA ADF Timestamp
21,finra_adf_time_nano,True,SMALLINT,Nanosecond offset
22,finra_adf_mpq_ind,True,VARCHAR(1),None
23,finra_adf_mquo_ind,True,VARCHAR(1),FINRA ADF Market Participant Quote Indicator
24,sip_message_id,True,VARCHAR(1),SIP-generated Message Indicator
25,natl_bbo_luld,True,VARCHAR(1),National BBO LULD Indicator
26,part_time,True,TIME,Participant Timestamp
27,part_time_nano,True,SMALLINT,Nanosecond offset
28,secstat_ind,True,VARCHAR(1),Security Status Indicator

In [144]:
import wrds
db = wrds.Connection()
db.describe_table(library='taqm_2020', table='ctm_2020')

Loading library list...
Done
Approximately 14862857505 rows in taqm_2020.ctm_2020.

,name,nullable,type,comment
0,date,False,DATE,Date of trade
1,time_m,False,TIME,Time to the microsecond
2,time_m_nano,True,SMALLINT,Nanosecond offset
3,ex,True,VARCHAR(1),Exchange that issued the trade
4,sym_root,False,TEXT,Security symbol root
5,sym_suffix,True,TEXT,Security symbol suffix
6,tr_scond,True,VARCHAR(4),Trade Sale Condition (up to 4 codes)
7,size,True,INTEGER,Volume of trade
8,price,True,NUMERIC,Price of trade
9,tr_stop_ind,True,VARCHAR(1),Trade Stop Stock Indicator (NYSE Only)
10,tr_corr,True,VARCHAR(2),Trade Correction Indicator
11,tr_seqnum,True,BIGINT,Trade Sequence Number
12,tr_id,True,TEXT,Trade ID
13,tr_source,True,VARCHAR(1),Source of Trade
14,tr_rf,True,VARCHAR(1),Trade Reporting Facility
15,part_time,True,TIME,Participant Timestamp
16,part_time_nano,True,SMALLINT,Nanosecond offset
17,trf_time,True,TIME,Trade Reporting Facility Timestamp
18,trf_time_nano,True,SMALLINT,Nanosecond offset
19,tte_ind,True,VARCHAR(1),None

In [145]:
import wrds
db = wrds.Connection()
db.describe_table(library='taqm_2020', table='mastm_2020')

Loading library list...
Done
Approximately 2288158 rows in taqm_2020.mastm_2020.

,name,nullable,type,comment
0,date,False,DATE,None
1,symbol_15,True,TEXT,Trading SYMBOL (from MASTM dataset)
2,sec_desc,True,TEXT,Security Description
3,cusip,True,TEXT,CUSIP (9 digits)
4,sec_type,True,TEXT,Security Type
5,cta_symbol,True,TEXT,CTA Symbol
6,old_symbol,True,TEXT,Old Symbol
7,test_symbol_flag,True,TEXT,"Test Symbol Flag (""Y""=this is a test symbol)"
8,listed_exchange,True,TEXT,Listing Exchange of the Security
9,tape,True,VARCHAR(1),"Tape A, B, or C"
10,uot,True,INTEGER,Minimum size that a trade is executed
11,round_lot,True,INTEGER,The number of shares the security quotes at
12,nyse_industry_code,True,TEXT,None
13,shares_outstanding,True,NUMERIC,"Shares outstanding on this date, in millions"
14,halt_delay_reason,True,TEXT,Denotes the reason for the Opening Delay or Tr...
15,specialist_clearing_agent,True,TEXT,"Specialist Clear Firm (for NYSE, NYSE MKT)"
16,specialist_clearing_num,True,INTEGER,Specialist Clearing Number for NYSE and NYSE MKT
17,specialist_post_num,True,INTEGER,"Specialist Identifier (NYSE, NYSE MKT)"
18,specialist_panel,True,TEXT,Specialist Panel
19,tron_nysemkt,True,TEXT,"Traded on NYSE MKT Today (""1""=yes)"
20,tron_nasdaqbx,True,TEXT,"Traded on NABDAQ BX Today (""1""=yes)"
21,tron_nsx,True,VARCHAR(1),"Traded on NSX today (""1""=yes)"
22,tron_finra,True,VARCHAR(1),"Traded on FINRA today (""1""=yes)"
23,tron_ise,True,VARCHAR(1),"Traded on ISE today (""1""=yes)"
24,tron_edge_a,True,VARCHAR(1),"Traded on EDGE A today (""1""=yes)"
25,tron_edge_x,True,VARCHAR(1),"Traded on EDGE X today (""1""=yes)"
26,tron_chx,True,VARCHAR(1),"Traded on CHX today (""1""=yes)"
27,tron_nyse,True,VARCHAR(1),"Traded on NYSE today (""1""=yes)"
28,tron_arca,True,VARCHAR(1),"Traded on ARCA today (""1""=yes)"
29,tron_nasdaq,True,VARCHAR(1),"Traded on NASDAQ today (""1""=yes)"
30,tron_cboe,True,VARCHAR(1),"Traded on CBOE today (""1""=yes)"
31,tron_psx,True,VARCHAR(1),"Traded on PSX today (""1""=yes)"
32,tron_batsy,True,VARCHAR(1),"Traded on BATS BYX today (""1""=yes)"
33,tron_bats,True,VARCHAR(1),"Traded on BATS BZX today (""1""=yes)"
34,tron_iex,True,TEXT,"Traded on IEX today (""1""=yes)"
35,tick_pilot_indicator,True,TEXT,Tick Pilot Securities Group
36,effective_date,True,DATE,Effective Date
37,tron_ltse,True,TEXT,"Traded on LTSE today (""1""=yes)"
38,tron_memx,True,TEXT,"Traded on MEMX today (""1""=yes)"
39,tron_miax,True,TEXT,"Traded on MIAX today (""1""=yes)"

In [146]:
import wrds
db = wrds.Connection()
taq = db.raw_sql("""
                    select *
                    from taqm_2020.cqm_20200102
                    where sym_root = 'AAPL'
                    --and date = '01/02/2020'
                    order by time_m
                """)
taq

Loading library list...
Done

,date,time_m,time_m_nano,ex,sym_root,sym_suffix,bid,bidsiz,ask,asksiz,...,finra_adf_mpid,finra_adf_time,finra_adf_time_nano,finra_adf_mpq_ind,finra_adf_mquo_ind,sip_message_id,natl_bbo_luld,part_time,part_time_nano,secstat_ind
0,2020-01-02,04:00:00.065166,598,P,AAPL,None,278.00,7,0.00,0,...,None,None,0,None,None,None,None,04:00:00.064786,664,None
1,2020-01-02,04:00:00.065167,494,P,AAPL,None,278.00,14,0.00,0,...,None,None,0,None,None,None,None,04:00:00.064787,456,None
2,2020-01-02,04:00:00.065170,70,P,AAPL,None,293.72,9,0.00,0,...,None,None,0,None,None,None,None,04:00:00.064791,784,None
3,2020-01-02,04:00:00.065682,670,P,AAPL,None,293.72,9,327.56,1,...,None,None,0,None,None,None,None,04:00:00.065302,272,None
4,2020-01-02,04:00:00.065739,537,P,AAPL,None,293.72,9,320.00,1,...,None,None,0,None,None,None,None,04:00:00.065359,592,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425182,2020-01-02,19:59:52.611834,975,Q,AAPL,None,301.19,1,302.00,6,...,None,None,0,None,None,None,None,19:59:52.611817,2,None
425183,2020-01-02,19:59:53.854853,307,K,AAPL,None,301.10,46,301.25,2,...,None,None,0,None,None,None,None,19:59:53.854647,0,None
425184,2020-01-02,19:59:53.856007,297,K,AAPL,None,301.10,46,301.25,2,...,None,None,0,None,None,None,None,19:59:53.855780,0,None
425185,2020-01-02,19:59:57.964151,994,K,AAPL,None,301.10,46,301.25,2,...,None,None,0,None,None,None,None,19:59:57.963903,0,None
425186,2020-01-02,19:59:57.964164,722,K,AAPL,None,301.10,46,301.25,1,...,None,None,0,None,None,None,None,19:59:57.963903,0,None

In [5]:
import wrds
db = wrds.Connection()
taq = db.raw_sql("""
                    select count (*)
                    from taqm_2020.cqm_20200102
                    where sym_root = 'AAPL'
                    --and date ='01/02/2020'
                    --order by time_m
                """)
taq

Loading library list...
Done

     count
0  1925187

In [6]:
import wrds
db = wrds.Connection()
taq = db.raw_sql("""
                    select count (*)
                    from taqm_2020.cqm_20200102
                    where sym_root = 'AAPL'
                    --and date ='01/02/2020'
                    and sym_suffix is not null
                    --order by time_m
                """)
taq

Loading library list...
Done

   count
0      0

In [7]:
import wrds
db = wrds.Connection()
taq = db.raw_sql("""
                    select 
                    case when sym_suffix is not null then 'CHK' end as "CHK", a.*
                    from taqm_2020.cqm_20200102 a
                    where sym_root = 'AAPL'
                    --and date ='01/02/2020'
                    order by 1 --time_m
                """)
taq

Loading library list...
Done

,CHK,date,time_m,time_m_nano,ex,sym_root,sym_suffix,bid,bidsiz,ask,...,finra_adf_mpid,finra_adf_time,finra_adf_time_nano,finra_adf_mpq_ind,finra_adf_mquo_ind,sip_message_id,natl_bbo_luld,part_time,part_time_nano,secstat_ind
0,None,2020-01-02,04:00:00.065166,598,P,AAPL,None,278.00,7,0.00,...,None,None,0,None,None,None,None,04:00:00.064786,664,None
1,None,2020-01-02,04:00:00.065167,494,P,AAPL,None,278.00,14,0.00,...,None,None,0,None,None,None,None,04:00:00.064787,456,None
2,None,2020-01-02,04:00:00.065170,70,P,AAPL,None,293.72,9,0.00,...,None,None,0,None,None,None,None,04:00:00.064791,784,None
3,None,2020-01-02,04:00:00.065682,670,P,AAPL,None,293.72,9,327.56,...,None,None,0,None,None,None,None,04:00:00.065302,272,None
4,None,2020-01-02,04:00:00.065739,537,P,AAPL,None,293.72,9,320.00,...,None,None,0,None,None,None,None,04:00:00.065359,592,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425182,None,2020-01-02,12:57:04.134320,7,Q,AAPL,None,298.64,5,298.68,...,None,None,0,None,None,None,A,12:57:04.134304,112,None
425183,None,2020-01-02,12:57:04.134349,485,N,AAPL,None,298.63,6,298.67,...,None,None,0,None,None,None,A,12:57:04.133975,40,None
425184,None,2020-01-02,12:57:04.134495,758,P,AAPL,None,298.63,5,298.68,...,None,None,0,None,None,None,A,12:57:04.134120,192,None
425185,None,2020-01-02,12:57:04.134506,151,Z,AAPL,None,298.64,3,298.68,...,None,None,0,None,None,None,A,12:57:04.134319,0,None
425186,None,2020-01-02,12:57:04.134513,804,Z,AAPL,None,298.64,4,298.68,...,None,None,0,None,None,None,A,12:57:04.134327,0,None

In [8]:
import wrds
db = wrds.Connection()
taq = db.raw_sql("""select *
                        from taqm_2020.cqm_20200102
                        where sym_root = 'AAPL'
                        --and date ='01/02/2020'
                        and time_m >= '04:00:00.065167'
                        order by time_m
                        """)
taq

Loading library list...
Done

,date,time_m,time_m_nano,ex,sym_root,sym_suffix,bid,bidsiz,ask,asksiz,...,finra_adf_mpid,finra_adf_time,finra_adf_time_nano,finra_adf_mpq_ind,finra_adf_mquo_ind,sip_message_id,natl_bbo_luld,part_time,part_time_nano,secstat_ind
0,2020-01-02,04:00:00.065167,494,P,AAPL,None,278.00,14,0.00,0,...,None,None,0,None,None,None,None,04:00:00.064787,456,None
1,2020-01-02,04:00:00.065170,70,P,AAPL,None,293.72,9,0.00,0,...,None,None,0,None,None,None,None,04:00:00.064791,784,None
2,2020-01-02,04:00:00.065682,670,P,AAPL,None,293.72,9,327.56,1,...,None,None,0,None,None,None,None,04:00:00.065302,272,None
3,2020-01-02,04:00:00.065739,537,P,AAPL,None,293.72,9,320.00,1,...,None,None,0,None,None,None,None,04:00:00.065359,592,None
4,2020-01-02,04:00:00.065739,730,P,AAPL,None,293.72,9,310.00,1,...,None,None,0,None,None,None,None,04:00:00.065360,384,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425181,2020-01-02,19:59:52.611834,975,Q,AAPL,None,301.19,1,302.00,6,...,None,None,0,None,None,None,None,19:59:52.611817,2,None
425182,2020-01-02,19:59:53.854853,307,K,AAPL,None,301.10,46,301.25,2,...,None,None,0,None,None,None,None,19:59:53.854647,0,None
425183,2020-01-02,19:59:53.856007,297,K,AAPL,None,301.10,46,301.25,2,...,None,None,0,None,None,None,None,19:59:53.855780,0,None
425184,2020-01-02,19:59:57.964151,994,K,AAPL,None,301.10,46,301.25,2,...,None,None,0,None,None,None,None,19:59:57.963903,0,None
425185,2020-01-02,19:59:57.964164,722,K,AAPL,None,301.10,46,301.25,1,...,None,None,0,None,None,None,None,19:59:57.963903,0,None

In [ ]:
###

In [16]:
import wrds
db = wrds.Connection()

tables = db.list_tables(library='taqmsec')
#tables

#open file in write mode
with open(r'/home/smusg/ltee11/tables_OF_taqmsec.txt', 'w') as a:
    for b in tables:
        #write each item on a new line
        a.write("%s\n" % b)
    print()

Loading library list...
Done

In [11]:
import wrds
db = wrds.Connection()

#db.describe_table(library='taqm_2020', table='cqm_2020')
db.describe_table(library='taqmsec', table='cqm_2020')

Loading library list...
Done
Approximately 322801791744 rows in taqmsec.cqm_2020.

                   name  nullable        type comment
0                  date      True        DATE    None
1                time_m      True        TIME    None
2           time_m_nano      True    SMALLINT    None
3                    ex      True  VARCHAR(1)    None
4              sym_root      True        TEXT    None
5            sym_suffix      True        TEXT    None
6                   bid      True     NUMERIC    None
7                bidsiz      True     INTEGER    None
8                   ask      True     NUMERIC    None
9                asksiz      True     INTEGER    None
10              qu_cond      True  VARCHAR(1)    None
11            qu_seqnum      True      BIGINT    None
12           natbbo_ind      True  VARCHAR(1)    None
13            qu_cancel      True  VARCHAR(1)    None
14            qu_source      True  VARCHAR(1)    None
15                  rpi      True  VARCHAR(1)    None
16                  ssr      True  VARCHAR(1)    None
17   luld_bbo_indicator      True  VARCHAR(1)    None
18        finra_bbo_ind      True  VARCHAR(1)    None
19       finra_adf_mpid      True  VARCHAR(1)    None
20       finra_adf_time      True        TIME    None
21  finra_adf_time_nano      True    SMALLINT    None
22    finra_adf_mpq_ind      True  VARCHAR(1)    None
23   finra_adf_mquo_ind      True  VARCHAR(1)    None
24       sip_message_id      True  VARCHAR(1)    None
25        natl_bbo_luld      True  VARCHAR(1)    None
26            part_time      True        TIME    None
27       part_time_nano      True    SMALLINT    None
28          secstat_ind      True  VARCHAR(1)    None