In [ ]:
pip install wrds

In [2]:
import wrds
db = wrds.Connection()
lib = db.list_libraries()
om = [x for x in lib if 'option' in x]
om

Loading library list...
Done

['optionm',
 'optionm_all',
 'optionmsamp_europe',
 'optionmsamp_us',
 'wrdsapps_link_crsp_optionm']

In [12]:
import wrds
db = wrds.Connection()
tables = db.list_tables(library='optionm')
len(tables)

Loading library list...
Done

330

In [13]:
import wrds
db = wrds.Connection()
tables = db.list_tables(library='optionm_all')
len(tables)

Loading library list...
Done

194

In [5]:
import wrds
db = wrds.Connection()
tables = db.list_tables(library='optionm')

#open file in write mode
with open(r'/home/smusg/ltee11/tables_OF_optionm.xls', 'w') as a:
    for b in tables:
        #write each item on a new line
        a.write("%s\n" % b)
    print()

Loading library list...
Done

In [6]:
import wrds
db = wrds.Connection()
tables = db.list_tables(library='optionm_all')

#open file in write mode
with open(r'/home/smusg/ltee11/tables_OF_optionm_all.xls', 'w') as a:
    for b in tables:
        #write each item on a new line
        a.write("%s\n" % b)
    print()

Loading library list...
Done

In [6]:
import wrds
db = wrds.Connection()
db.describe_table(library='optionm_all', table='idxdvd').shape

Loading library list...
Done
Approximately 352241 rows in optionm_all.idxdvd.

(3, 4)

In [7]:
import wrds
db = wrds.Connection()
db.describe_table(library='optionm', table='idxdvd').shape

Loading library list...
Done
Approximately 352241 rows in optionm.idxdvd.

(3, 4)

In [8]:
import wrds
db = wrds.Connection()
db.describe_table(library='optionm_all', table='idxdvd')

Loading library list...
Done
Approximately 352241 rows in optionm_all.idxdvd.

    name  nullable              type                     comment
0  secid      True  DOUBLE_PRECISION                 Security ID
1   date      True              DATE  Date of the Dividend Yield
2   rate      True  DOUBLE_PRECISION              Dividend Yield

In [9]:
import wrds
db = wrds.Connection()
db.describe_table(library='optionm', table='idxdvd')

Loading library list...
Done
Approximately 352241 rows in optionm.idxdvd.

    name  nullable              type comment
0  secid      True  DOUBLE_PRECISION    None
1   date      True              DATE    None
2   rate      True  DOUBLE_PRECISION    None

In [10]:
import wrds
db = wrds.Connection()
db.describe_table(library='optionm_all', table='securd1')

Loading library list...
Done
Approximately 115932 rows in optionm_all.securd1.

,name,nullable,type,comment
0,secid,True,DOUBLE_PRECISION,Security ID
1,cusip,True,VARCHAR(8),CUSIP Number
2,ticker,True,VARCHAR(6),Ticker Symbol
3,sic,True,VARCHAR(4),SIC Code
4,index_flag,True,VARCHAR(1),Index Flag
5,exchange_d,True,DOUBLE_PRECISION,Exchange Designator
6,class,True,VARCHAR(1),Class Designator
7,issue_type,True,VARCHAR(1),The Type of Security
8,industry_group,True,DOUBLE_PRECISION,Industry Group
9,issuer,True,VARCHAR(28),Description of the Issuing Company

In [11]:
import wrds
db = wrds.Connection()
db.describe_table(library='optionm_all', table='securd')

Loading library list...
Done
Approximately 115902 rows in optionm_all.securd.

             name  nullable              type               comment
0           secid      True  DOUBLE_PRECISION           Security ID
1           cusip      True        VARCHAR(8)          CUSIP Number
2          ticker      True        VARCHAR(6)         Ticker Symbol
3             sic      True        VARCHAR(4)              SIC Code
4      index_flag      True        VARCHAR(1)            Index Flag
5      exchange_d      True  DOUBLE_PRECISION   Exchange Designator
6           class      True        VARCHAR(1)      Class Designator
7      issue_type      True        VARCHAR(1)  The Type of Security
8  industry_group      True  DOUBLE_PRECISION        Industry Group

In [24]:
import wrds
db = wrds.Connection()
index_div_yield = db.raw_sql("""
                                select *
                                from optionm_all.idxdvd a, optionm_all.securd b
                                where a.secid = b.secid
                                and b.ticker = 'SPX'
                                and a.date >= '01/01/2020'
                                and a.date <= '12/31/2021'
                                order by a.date
                             """, 
                             date_cols=['a.date'])
index_div_yield.shape

Loading library list...
Done

(505, 12)

In [25]:
index_div_yield

,secid,date,rate,secid,cusip,ticker,sic,index_flag,exchange_d,class,issue_type,industry_group
0,108105.0,2020-01-02,1.777138,108105.0,64881510,SPX,9999,1,32768.0,None,A,None
1,108105.0,2020-01-03,1.783770,108105.0,64881510,SPX,9999,1,32768.0,None,A,None
2,108105.0,2020-01-06,1.804811,108105.0,64881510,SPX,9999,1,32768.0,None,A,None
3,108105.0,2020-01-07,1.809661,108105.0,64881510,SPX,9999,1,32768.0,None,A,None
4,108105.0,2020-01-08,1.797900,108105.0,64881510,SPX,9999,1,32768.0,None,A,None
...,...,...,...,...,...,...,...,...,...,...,...,...
500,108105.0,2021-12-27,1.245086,108105.0,64881510,SPX,9999,1,32768.0,None,A,None
501,108105.0,2021-12-28,1.248356,108105.0,64881510,SPX,9999,1,32768.0,None,A,None
502,108105.0,2021-12-29,1.252619,108105.0,64881510,SPX,9999,1,32768.0,None,A,None
503,108105.0,2021-12-30,1.246516,108105.0,64881510,SPX,9999,1,32768.0,None,A,None
504,108105.0,2021-12-31,1.243227,108105.0,64881510,SPX,9999,1,32768.0,None,A,None

In [28]:
import wrds
db = wrds.Connection()
index_div_yield = db.raw_sql("""
                                select *
                                from optionm_all.idxdvd a, optionm_all.securd b
                                where a.secid = b.secid
                                and b.ticker = 'SPX'
                                and a.date >= '01/01/2020'
                                and a.date <= '12/31/2021'
                                and b.class is not null
                                order by a.date
                             """, 
                             date_cols=['a.date'])
index_div_yield.shape

Loading library list...
Done

(0, 12)

In [29]:
import wrds
db = wrds.Connection()
index_div_yield = db.raw_sql("""
                                select *
                                from optionm_all.idxdvd a, optionm_all.securd b
                                where a.secid = b.secid
                                and b.ticker = 'SPX'
                                and a.date >= '01/01/2020'
                                and a.date <= '12/31/2021'
                                and b.industry_group is not null
                                order by a.date
                             """, 
                             date_cols=['a.date'])
index_div_yield.shape

Loading library list...
Done

(0, 12)

In [30]:
import wrds
db = wrds.Connection()
index_div_yield = db.raw_sql("""
                                select *
                                from optionm_all.idxdvd a, optionm_all.securd b
                                where a.secid = b.secid
                                and b.ticker = 'SPX'
                                and a.date >= '01/01/2020'
                                and a.date <= '12/31/2021'
                                and (b.class is not null or industry_group is not null)
                                order by a.date
                             """, 
                             date_cols=['a.date'])
index_div_yield.shape

Loading library list...
Done

(0, 12)

In [34]:
import wrds
db = wrds.Connection()
index_div_yield = db.raw_sql("""
                                select  b.issue_type, 
                                        b.index_flag, 
                                        b.exchange_d, 
                                        b.sic, 
                                        b.secid, 
                                        b.ticker, 
                                        b.cusip, 
                                        a.date, 
                                        a.rate  
                                from optionm_all.idxdvd a, optionm_all.securd b
                                where a.secid = b.secid
                                and b.ticker = 'SPX'
                                and a.date >= '01/01/2020'
                                and a.date <= '12/31/2021'
                                order by a.date
                             """, 
                             date_cols=['a.date'])
index_div_yield.shape

Loading library list...
Done

(505, 9)

In [35]:
index_div_yield

,issue_type,index_flag,exchange_d,sic,secid,ticker,cusip,date,rate
0,A,1,32768.0,9999,108105.0,SPX,64881510,2020-01-02,1.777138
1,A,1,32768.0,9999,108105.0,SPX,64881510,2020-01-03,1.783770
2,A,1,32768.0,9999,108105.0,SPX,64881510,2020-01-06,1.804811
3,A,1,32768.0,9999,108105.0,SPX,64881510,2020-01-07,1.809661
4,A,1,32768.0,9999,108105.0,SPX,64881510,2020-01-08,1.797900
...,...,...,...,...,...,...,...,...,...
500,A,1,32768.0,9999,108105.0,SPX,64881510,2021-12-27,1.245086
501,A,1,32768.0,9999,108105.0,SPX,64881510,2021-12-28,1.248356
502,A,1,32768.0,9999,108105.0,SPX,64881510,2021-12-29,1.252619
503,A,1,32768.0,9999,108105.0,SPX,64881510,2021-12-30,1.246516
504,A,1,32768.0,9999,108105.0,SPX,64881510,2021-12-31,1.243227